//-mixin para todas las paginas solo enviando la url
mixin imagen(url)
	img.img-responsive(src= url)

//- titulo de cada seccion
mixin tituloSeccion(...items)
	.nombre
		each item in items
			span.efectoSeccion= item

mixin separador()
	.separadorSeccion.invertirColor
		img(src='assets/images/separadorSeccion.png')

//- nombre
mixin nombre(...items)
	.nombre
		each item in items
			span.efectoNombre= item

//- frase
mixin fraseInicial(a)
	.fraseInicial.enlinea
		p= a

//- sobre mi
mixin sobreMi(a,b)
	.sobreMi.courier= a
	.sobreMi.courier= b

//- intereses
mixin interes2(a,b)
	p.interes1= a
	p.interes1= b
mixin interes1(a)
	p.interes4= a

//- generador de cuadros de proyectos y su descripcio
mixin cuadros(href,src,texto)
	.cuadros
		a(href= href, target="_blank")
			img(src= src)
			.descripcion= texto
